<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>DomoMaker</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/ball.png" alt="face logo"/></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
		<div class="navlink"><a href="/world">World</a></div>
		<div class="navlink"><a href="/battle">Battle!</a></div>
  </nav>
  
  <section id="domos">
    <div class="domo">
			<h1> Their Team!</h1>
			
			{{#if tTeam}}
			{{#each tTeam}}
			<div class="domo"><img src="/assets/img/{{this.path}}" alt="domo face" class="domoFace"/>
				<h3 class="domoName">Name: {{this.name}}</h3>
				<h3 class="domoAge"> Wins: {{this.wins}}</h3>
			</div>
			{{/each}}
			{{else}}
			<h3 class="emptyDomo">No Domos yet</h3>
			{{/if}}	
			
			<h1>Your Team!</h1>

			
			{{#if yTeam}}
			{{#each yTeam}}
			<div class="domo"><img src="/assets/img/{{this.path}}" alt="domo face" class="domoFace"/>
				<h3 class="domoName">Name: {{this.name}}</h3>
				<h3 class="domoAge"> Wins: {{this.wins}}</h3>
				
			</div>
			{{/each}}
			{{else}}
			<h3 class="emptyDomo">No Domos yet</h3>
			{{/if}}	
			
    </div>
  </section>
	<section id="domos">
	<h1>{{text}}</h1>
	</section>
  <div id="domoMessage"><img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <h3><span id="errorMessage"></span></h3><img id="domo" src="assets/img/oak.png" alt="domo"/>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="/assets/maker.js" type="text/babel"></script>
</body>
</html>