<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>DomoMaker</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/ball.png" alt="face logo"/></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
		<div class="navlink"><a href="/world">PC</a></div>
		<div class="navlink"><a href="/battle">Battle!</a></div>
  </nav>
  
  <section id="domos">
    <div class="domo">
			<h1> The Pokemon World!</h1>
			
			{{#if domos}}
			{{#each domos}}
			<div class="domo"><img src="/assets/img/{{this.path}}.jpeg" alt="domo face" class="domoFace"/>
				<h3 class="domoName">Name: {{this.name}}</h3>
				<h3 class="domoAge"> Wins: {{this.wins}}</h3>
				<h4 class="domoDate"> Date Caught: {{this.createdData}}</h4>
			</div>
			{{/each}}
			{{else}}
			<h3 class="emptyDomo">No Pokemon yet</h3>
			{{/if}}	
			
    </div>
  </section>
  <div id="domoMessage"><img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <h3><span id="errorMessage"></span></h3><img id="domo" src="assets/img/oak.png" alt="domo"/>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="/assets/maker.js" type="text/babel"></script>
</body>
</html>